@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply font-montserrat;
}

.home::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  content: "";
  top: 0px;
  background: radial-gradient(
    27.72% 27.79% at 50.81% 68.15%,
    #210544 0%,
    rgba(23, 5, 68, 0.71) 50.52%,
    rgba(23, 5, 68, 0) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(0.5px);
}

.home_mobile::after {
  position: absolute;
  width: 200%;
  height: 80%;
  left: -50%;
  content: "";
  top: 0px;
  background: radial-gradient(
    27.72% 27.79% at 50.81% 68.15%,
    #210544 0%,
    rgba(23, 5, 68, 0.71) 50.52%,
    rgba(23, 5, 68, 0) 100%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(0.5px);
}

html {
  @apply scroll-smooth;
}
